mixin checkbox-group(name, items)
  .checkbox
    h2.checkbox_title #{name}
    each item in items
      if item.trim() !== ''
        input.checkbox_input(type='checkbox' id=item name='sort' value=item)
        label(for=item) #{item}